@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}
/* a:visited{
    color: #eeeded9c;
} */

body{
    
    min-width: 325px;

}
/* header */
header{
    background: #333333;
    
}
header nav ul li.burger{
    height: 25px;
    width: 20px;
    display: none;
}
header nav ul li.burger img{
    height: 25px;
    width: 20px;
    display: none;
}
header nav{
    display: grid;
    place-items: center;
    /* color: #eeeded9f; */
    height: auto;
}

/* header li{
    transition: 2.8s;
} */

header a{
    color: #eeeded9c;
    text-decoration: none;
    transition:0.8s;
}

header a:hover{
    color: #eeeded;
}

header nav ul {

    display: grid;
    list-style: none;
    place-items: center;
    grid-template-columns: repeat(14,auto);
    column-gap: 2.3rem;
    font-size: 14px;
}

/* End of header */


/* Main */
/* Section 1 */
main{
    overflow: hidden;
}
main p{
    text-align: center;
    padding: 0.7rem 0;
    background-color: #f5f5f7;
    line-height: 2rem;
}
main section.s1{
    overflow: hidden;
    position: relative;
    background-image: url("https://www.apple.com/v/home/ag/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
    height: 647px;
    display: grid;
    justify-content: center;
   
    align-content: flex-start;
}
main section.s1 div.links{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    position: relative;
    width: max-content;
    
}
main section.s1 div.links a{
    margin-top: 1rem;
    text-decoration: none;
    color: #f9caeb;
    font-size: 21px;
    font-weight: bold;
}
main section.s1 h2{
    margin-top: 1rem;
}
main section.s1 div.links a:hover{
    text-decoration: underline;
}

h2{
    font-size: 56px;
    font-weight: 800;
}
h3{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.overlay{
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    
}

/* End of Section 1 */

/* Section 2 */
section.s2{
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 720px;
    margin-top: 1rem;
    background-image: url("https://www.apple.com/v/home/ag/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_large.jpg");
}


section.s2 h2{
    color: white;
    text-align: center;
    font-weight: 900;
    margin-top: 4rem;
    letter-spacing: 0.1rem;
    

}
section.s2 h3{
    color: #faabe2;
}
section.s2 div.link-s2 a{
    color: #2997ff;
    font-size: 21px;
    font-weight: 900;
    padding: 0 2rem;
    text-decoration: none;
}
section.s2 div.link-s2 a:hover{
    text-decoration: underline;
}
section.s2 div.link-s2{


position: relative;
width: max-content;

margin: auto;
margin-top: 1rem;




}

/* End of section 2 */

/* Section 3 */

section.s3{
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    min-height: 720px;
    position: relative;
    background-image: url("https://www.apple.com/v/home/ag/images/heroes/macbook-pro/hero_macbookpro__eatonjfwvuc2_largetall.jpg");
}


section.s3 h2{
    color: black;
    text-align: center;
    font-weight: 900;
    margin-top: 4rem;
    letter-spacing: 0.1rem;

}
section.s3 h3{
    color: black;
}
section.s3 div.link-s3 a{
    color: #2997ff;
    font-size: 21px;
    font-weight: 900;
    padding: 0 2rem;
    text-decoration: none;
}
section.s3 div.link-s3 a:hover{
    text-decoration: underline;
}
section.s3 div.link-s3{
    position: relative;
    width: max-content;
    
    margin: auto;
    margin-top: 1rem;

}

/* End of Section 3 */

/* Section 4 */

section.s4{
    margin: 0.7rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(550px, 1fr) minmax(550px, 1fr);
}

section.s4-1{
    background-image: url("https://www.apple.com/v/home/ag/images/promos/airpods/tile_airpods__fuv6vgn42y2q_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
    position: relative;
    display: grid;
    overflow: hidden;
    justify-content: center;
    align-content: flex-end;
}
section.s4-1 .overlay{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}
section.s4-1 h2{
    text-align: center;
    font-weight: 900;
}

section.s4-1 div{
    text-align: center;
    margin: 1rem 0;
    position: relative;
}
section.s4-1 div a{
    color: #2997ff;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 21px;
    font-weight: 900;
}
section.s4-1 div a:hover{
    text-decoration: underline;
}


section.s4-2{
    background-image: url("https://www.apple.com/v/home/ag/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    overflow: hidden;
}
section.s4-2 .overlay{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}
section.s4-2 div{
    text-align: center;
    margin:auto;
    margin-top: 1rem;
    position: relative;
    width: max-content;
    
    
}
section.s4-2 div a{
    color: #2997ff;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 21px;
    font-weight: 900;
}
section.s4-2 div a:hover{
    text-decoration: underline;
}


section.s4-2 span{
    margin-top: 2rem;
    color: #d86a2a;
    font-weight: 900;
    justify-self: center;
}
section.s4-2 h2{
    height: 56px;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    width: 150px;
    background-image: url("https://www.apple.com/v/home/ag/images/logos/watch-series-7/tile_watch_logo_lte__h7snssb7mqq2_large.png");
}

section.s4-3{
    background-image: url("https://www.apple.com/v/home/ag/images/promos/homepod-mini/tile_homepod_mini__b73w4z3ljymu_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
}
section.s4-3 h2{
    justify-self: center;
    font-weight: 900;
    font-size: 50px;
}
section.s4-3 p{
    justify-self: center;
    font-weight: 900;
    color: #b9b9bd;
    background-color: white;
}
section.s4-3 div a{
    color: #2997ff;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 21px;
    font-weight: 900;
}
section.s4-3 div a:hover{
    text-decoration: underline;
}

section.s4-4{
    background-image: url("https://www.apple.com/v/home/ag/images/promos/ipad-mini/promo_ipad_mini__spq4zjcuuaie_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
}
section.s4-4 h2{
    height: 40px;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    width: 200px;
    background-image: url("https://www.apple.com/v/home/ag/images/logos/ipad-mini/promo_logo_ipad_mini__n5nqff6gq8yu_large.png");
}
section.s4-4 h3{
    text-align: center;
    justify-self: center;
    margin-bottom: 2rem;
}
section.s4-4 div a{
    color: #2997ff;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 21px;
    font-weight: 900;
}
section.s4-4 div a:hover{
    text-decoration: underline;
}

section.s4-5{
    background-image: url("https://www.apple.com/v/home/ag/images/promos/apple-card/tile__cauwwcyyn9hy_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
}
section.s4-5 h2{
    height: 37px;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    width: 135px;
    background-image: url("https://www.apple.com/v/home/ag/images/logos/apple-card/logo__dcojfwkzna2q_large.png");
}
section.s4-5 h3{
    text-align: center;
    width: 300px;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

section.s4-5 div a{
    color: #2997ff;
    text-decoration: none;
    margin: 0 1.7rem;
    font-size: 18px;
    font-weight: 900;
}
section.s4-5 div a:hover{
    text-decoration: underline;
}

section.s4-6{
    background-image: url("https://www.apple.com/v/home/ag/images/promos/tv-plus-charlie-brown-halloween/tile_charliebrown__eolk1igxqpw2_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}
section.s4-6 h2:first-of-type{
    background-image: url("https://www.apple.com/v/home/ag/images/logos/tv-plus/logo__dcojfwkzna2q_large.png");
    height: 27px;
    margin-bottom: 20rem;
    background-repeat: no-repeat;
    background-size: 68px 27px;
    justify-self: center;
   
    width: 68px;
}
section.s4-6 h2:nth-of-type(2){
    height: 93px;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    width: 313px;
    background-image: url("https://www.apple.com/v/home/ag/images/logos/tv-plus-charlie-brown-halloween/logo_charliebrown__e10f7oj0okom_large.png");
}

section.s4-6 h3{
    font-size: 19px;
}
section.s4-6 div.link-s4-6{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: 25px;


}

section.s4-6 .link-s4-6 a{
    text-decoration: none;
    color: black;
    font-weight: 900;

    
}
section.s4-6 div a:hover{
    text-decoration: underline;
}

section.s4-6 .link-s4-6 a img{
width: 20px;
}
/* End of Section 4 */

/* Footer */

footer{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    
}
.foot1{
    min-width: 350px;
    max-width: 70vw;
}
.foot1 p{
    margin: 1rem;
}
footer hr{
    width: 100%;
margin: 2rem 0
;}

footer nav{
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
    width: 100%;
}
footer nav ul{
    list-style: none;
}
footer nav ul li:first-of-type{
    font-weight: 900;
    font-size: 1rem;
}
footer nav ul li{
    padding: 0.4rem 0;
    font-size: 0.9rem;
}
#account{
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
}
.sub{
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
}
footer p{
    justify-self: flex-start;
    font-size: 0.9rem;
}
footer ul.legal{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6,auto) 1fr;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}
footer ul.legal li{
    font-size: 0.9rem;
}
footer ul.legal li:last-of-type{
    justify-self: end;
    
}
footer nav a{
    text-decoration: none;
    color: black;
}
footer nav a:hover{
    text-decoration: underline;
}

hr:last-of-type{
    margin: 0.7rem 0;
}

footer ul.legal a{
    text-decoration: none;
    color: black;
}
footer ul.legal a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 1200px) {
    section.s4{
        grid-template-columns: 1fr;
    }
}
/* @media screen and (max-width: 1100px) {
    section.s4-2 {
        height: 400px;
        background-image: url(https://www.apple.com/v/home/ag/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_medium.jpg);
    }
} */
@media screen and (max-width: 1000px) {

    header nav ul li{
        display: none;
    }
    header nav ul{
        width: 100%;
      
        align-items: center;

    }
    header nav ul li.burger{
        display: block;
        justify-self: start;
        margin-left: 0.5rem;
    }
    main section.s1{
        height: 547px;
    }
    header nav ul li.burger img{
        display: block;
        
    width: 25px;
    height: 25px;

    }
    header nav ul li:nth-of-type(2){
        display: inline;
    }
    header nav ul li:last-of-type{
        display: inline;
        justify-self: end;
        margin-right: 0.5rem;
    }
    header nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 750px) {
    main section.s2{
        display: grid;
        place-content: center;
        background-image: url("https://www.apple.com/v/home/ag/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small.jpg");
    }
    footer ul.legal{
        display: grid;
        grid-template-columns: auto;
        
    }
    footer ul.legal li:last-of-type{
        justify-self: unset;
    }

    main section.s1{
        height: 500px;
        background-image: url(https://www.apple.com/v/home/ag/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small.jpg
        );
    }
    main section.s3{
        background-image: url(https://www.apple.com/v/home/ag/images/heroes/macbook-pro/hero_macbookpro__eatonjfwvuc2_small_2x.jpg
        );
    }
    section.s4-2{
        background-image: url(https://www.apple.com/v/home/ag/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_small_2x.jpg);
    }
    section.s4-1{
        background-image: url(https://www.apple.com/v/home/ag/images/promos/airpods/tile_airpods__fuv6vgn42y2q_small_2x.jpg);
    }
    section.s4-3{
        background-image: url(https://www.apple.com/v/home/ag/images/promos/homepod-mini/tile_homepod_mini__b73w4z3ljymu_small_2x.jpg);
    }
}